*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


h1 {
    text-align: center;
    margin-top: 3%;
    margin-left: 10%;
    margin-right: 10%;
    color: #F5F5F5;
    font-size: xxx-large;

    background: rgba(101, 101, 101, 0.2);
border-radius: 16px;
box-shadow: 0 10px 20px rgba(0, 0, 0, 0.7); 
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(152, 152, 152, 0.3);

padding: 3%;

}

a {
    text-decoration: none;
    color: #89ABE3;
    text-align: center;

}

h2 {
    
    text-align: center;
    color: #F5F5F5;
    padding: 2%;
margin-bottom: 2%;
margin-left: 30%;
margin-right: 30%;
    background: rgba(101, 101, 101, 0.2);
border-radius: 16px;
box-shadow: 0 10px 20px rgba(0, 0, 0, 0.7); 
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(152, 152, 152, 0.3);
}

body {
    background-color: #151c2d;
    height: 100vh;
    margin: 0;
    background-image: url('./realistic-luxury-background_23-2149354608.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    color: #F5F5F5;
    font-family: "Times New Roman", Times, serif;
    
}

form {
    display: flex;
    flex-direction: column;
    width: 80%; 
    margin: 0 auto; 
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 60%;
    width: 90%;
    max-width: 800px; 
    padding: 20px;
    margin: auto;

    background: rgba(101, 101, 101, 0.2);
border-radius: 16px;
box-shadow: 0 10px 20px rgba(0, 0, 0, 0.7); 
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(152, 152, 152, 0.3);

}

.scrollable {
    width: 100%;
    max-height: 60vh; 
    overflow-y: auto;

}

table {
    width: 100%;
 
    border-radius: 15px;
    table-layout: fixed; 
}


table{

    padding: 10px;
    
}

th, td {
    border: solid #555;
    border-radius: 15px;
    padding: 10px;
    overflow: hidden;
    text-overflow: clip;
}

th {
    background-color: #3D3D3D;
    color: #fff;
}

.caso {
    width: 10%;
}

.nombre {
    width: 50%;
}

.cliente {
    width: 20%;
}

.estado {
    width: 20%;
}

button {

    width: 30%;
    padding: 10px 20px;
    border: none;
    outline: none;
    background: #4e6180;
    color: #FFF;
    font-family: "Times New Roman", Times, serif; 
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 15px;
    transition: all 0.3s ease;
    margin-left: 13px;
    overflow: hidden;
}

button:hover{
    background: #4e6180;
    transition: all 0.3s ease;
}


.add {
    width: 20%;
    padding: 4px 10px;
    border: none;
    outline: none;
    background: rgb(0, 119, 255);
    color: #FFF;
    font-family: "Times New Roman", Times, serif; 
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 15px;
    transition: all 0.3s ease;
    margin-left: 13px;
    overflow: hidden;
}




form label {
    margin-bottom: 5px;
    font-size: 1.2em;
}

form input[type="text"], form input[type="tel"], form input[type="number"], form input[type="date"]{
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #555;
    border-radius: 15px;
    background-color: #3D3D3D;
    color: #fff;
    width: 100%;
    font-size: 18px;
}



form input[type="submit"] {
    display: block;
    padding: 10px 20px;
    border: none;
    outline: none;
    background: #4e6180;
    color: #FFF;
    font-family: "Times New Roman", Times, serif; 
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 15px;
    transition: all 0.3s ease;
}

form input[type="submit"]:hover {
    background: rgb(0, 17, 255);
    transition: all 0.3s ease;
}

form select {
    padding: 10px;
    border: 1px solid #555;
    border-radius: 15px;
    background-color: #3D3D3D;
    box-sizing: border-box;
    width: 75%;
    height: 40px;
    font-size: 16px;
    color: #fff;
    margin-bottom: 20px;


}

form select:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
}

.doble {
    display: flex;
    flex-direction: row;
}

.dob {
    margin-left: 2px;
    margin-right: 2px;
}

.codigoInfo {
    margin-top: 6%;
    text-align: left;
}

.estadoInfo {
    margin-top: 5%;
    margin-left: auto;
    font-size: 12px;
    height: 45% !important;
    width: 30% !important;
}

.eliminar {
    width: 5%;
}

.largote {
    margin-top: 2%;
    display: block;
    padding: 10px 20px;
    border: none;
    outline: none;
    color: #FFF;
    font-family: "Times New Roman", Times, serif;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 15px;
    transition: all 0.3s ease;
    width: 95%;
    
}

button:hover {
    background: rgb(0, 17, 255);
    transition: all 0.3s ease;
}

.tipo {
    margin-top: 5%;
}


